<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="releaseback/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="releaseback/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="releaseback/Css/style.css" />
    <script type="text/javascript" src="releaseback/Js/jquery2.js"></script>
    <script type="text/javascript" src="releaseback/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="releaseback/Js/bootstrap.js"></script>
    <script type="text/javascript" src="releaseback/Js/ckform.js"></script>
    <script type="text/javascript" src="releaseback/Js/common.js"></script>
    <style type="text/css">
        body {font-size: 20px;
            padding-top: 15px;
            padding-left: 470px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form th:action="${stu==null}?@{/add}:@{/update}">
    <table class="table table-bordered table-hover definewidth m10">
       <tr>
           <td><input type="hidden" name="id"/></td>
       </tr>
       <tr>
           <td>
               序号：<input type="text" name="uid" th:value="${stu.uid}"/>
           </td>
       </tr>
        <tr>
            <td>
                用户昵称：<input type="text" name="username" th:value="${stu.username}"/>
            </td>
        </tr>
        <tr>
            <td>
                密码：<input type="text" name="password" th:value="${stu.password}"/>
            </td>
        </tr>
        <tr>
            <td>
                性别：<input type="text" name="sex" th:value="${stu.sex}"/>
            </td>
        </tr>
        <tr>
            <td>
                Email：<input type="text" name="email" th:value="${stu.email}"/>
            </td>
        </tr>
       <tr>
           <td>
               联系方式：<input type="text" name="phone" th:value="${stu.phone}"/>
           </td>
       </tr>
        <tr>
            <td>
                <input type="submit" value="保存"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>